.App {
  text-align: center;
  padding:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App button{
  margin: 10px;
  padding : 8px;
  background-color: Black;
  color: white;
}

.App button:hover { 
  background-color: brown;
}

.App h2{
  color:brown;
}

.App a{
  display:inline-block;
  width:150px;
  margin:10px;
  padding:8px;
  font-weight: bold;
  background-color:black;
  color:white;
  border:1px solid black;
  text-decoration: none;
}

.App a:hover{
  background-color:brown;
}




